html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
body 
  h1= book  
  form(action="add", method="post")
    input(type="text" name="title" placeholder="Title")
    &nbsp
    input(type="text" name="author" placeholder="Author")
    &nbsp
    input(type="text" name="description" placeholder="Description")
    &nbsp
    button(type="submit") Add

